.Business-Card{
    display: flex;
}
.Bcontact{
    padding-left: -3px;
    max-height: 400px;
    min-width: 300px;
    margin-left: 20%;
    border-style: inset;
    border-width: 10px;
    border-color: rgba(191, 253, 253, 0.263) rgba(255, 255, 255, 0.397);
    box-shadow: inset 1px 0px 4px rgb(199, 251, 250);
}