@keyframes gradient-loop {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.nav-brand{
  padding-bottom: 10%;
}
.navigator{

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* padding: 10px 20px; */


  background-color: color-mix(in hsl shorter hue, rgba(85, 85, 85, 0.107) 70%, rgba(42, 49, 51, 0.089) 30%) ;
  border-bottom-style:groove;
  border-bottom-width: 3px;
  border-bottom-color: rgba(0, 0, 0, 0.044);
  box-shadow: 0px -4px 14.6px rgba(70, 74, 75, 0.928);
  
}


body{
  
  background: linear-gradient(45deg, #def4ff, #080808, #ffffff, #83aab1bf); /* Adjust colors */
  background-size: 400% 400%;
  animation: gradient-loop 15s linear infinite;

}
.btn{
  border-style: hidden;
  font-weight: lighter;
  color: rgb(72, 91, 97);
  background-color: rgba(229, 255, 253, 0.911);
  --bs-tertiary-bg: rgba(128, 128, 128, 0.32);
}
.nav-pills{
  display: flex;
  flex-direction: column;
}


.Podium{
  opacity: 80%;
  width: 86px;
  height: 86px;
  border-radius: 30%;
  border-style: groove;
  border-width: 4px;
  border-color: rgba(0, 0, 0, 0.812);
  
 
  
}


.BLogo{
 /* padding-left:21% ; */
 height: 61px;
 width: 50px;
 



}
.menu{
  position: fixed;
  top: 0;
  left: 3;
  /* margin-top: 2%; */


}

.menu-tog{
 
  
  animation: opacityLoop 2s infinite;
  color:  rgba(0, 0, 0, 0.352);
  font-size: small;
  font: bolder;
  text-decoration: underline;
}
.offcanvas{
  transition:ease-in-out;
  transition-duration: 1.2s ;
  text-align: center;
  display: inline-table;
  flex-direction: row;
  margin-left: 43.7%;
  flex-shrink: 0;
  width: 8rem;
  height:8rem;
  background-color: rgba(229, 255, 253, 0.589);
  box-shadow: -2.4px 4px 9.6px rgba(230, 249, 255, 0.928);
  border-bottom-style: inset;
 border-bottom-width: .4rem;
 border-bottom-color:  rgba(186, 227, 227, 0.489);
 border-left-style: inset;
 border-left-width: .18rem;
 border-left-color:  rgba(192, 227, 227, 0.202);
 border-right-style: inset;
 border-right-width: .18rem;
 border-right-color:rgba(192, 227, 227, 0.202);
 border-bottom-left-radius: 20%;
 border-bottom-right-radius: 20%;
 --bs-tertiary-bg: rgba(128, 128, 128, 0.078);

}


.nav-link{
  display: block;
  width:11.6rem;
  border-radius: 10%;
}
