










@keyframes gradientLoop {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

body{
  display: block;
  padding-bottom: 200px;
  background-color: rgba(204, 198, 198, 0.763);
  min-width: 550px;

}

.nav-pills{
  display: flex;
  flex-direction: column;
}

 
.BleeLogo{
  width: 8rem;
  height: 13rem;
}



.nav-container{
  display: flex;
  flex-direction: column;
margin-left: 50%;
  flex-shrink: 0;
  width: 13rem;
  background-color: rgba(229, 255, 253, 0.589);
  box-shadow: 45px 34px 55px rgba(130, 130, 130, 0.737);
  border-bottom-style: inset;
 border-bottom-width: .9rem;
 border-bottom-color:  rgba(186, 227, 227, 0.489);
 border-left-style: inset;
 border-left-width: .3rem;
 border-left-color:  rgba(192, 227, 227, 0.202);
 border-right-style: inset;
 border-right-width: .2rem;
 border-right-color:rgba(186, 222, 222, 0.339);
 border-radius: 80%;

}

.nav-link{
  display: block;
  width:11.6rem;
  border-radius: 10%;
}