@keyframes gradientLoop {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

body{
  background: linear-gradient( to top, #ffffff, #c1eaed, #5b59583c);
  animation: gradientLoop 7s infinite;
  min-width: 550px;
}
.navbar {

  background: linear-gradient(180deg, rgba(141, 202, 190, 0.6), rgba(0, 0, 0, 0.19)); /* Gradient background for the navbar */
  display: flex;
  min-width: 550px;
  border-bottom-style: inset 10px rgba(147, 194, 194, 0.29);



}
.logo{
  height: 165px;
  width: 125px;
  border-style: ridge;
  background-color: rgba(255, 255, 255, 0.956);
  border-width: 10px;
  border-color:  rgba(197, 200, 206, 0.404) rgba(182, 242, 251, 0.33);
  
}




.button {
  margin-right: 5%;
  height: 60px;
  width: 180px;
  border-style: ridge;
  background-color: rgba(255, 255, 255, 0.625);
  border-width: 10px;
  border-color:  rgba(197, 200, 206, 0.404) rgba(182, 242, 251, 0.33);
  font-family: 'Times New Roman', Times, serif;
  
  font-weight: bold;
  font-size: 16px;
  float: right;
  box-shadow: 0 0 20px rgb(208, 242, 250);

}


