@keyframes gradientLoop {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

body{
  background: linear-gradient( to top, #ffffff, #c1eaed, #5b59583c);
  animation: gradientLoop 7s infinite;
  min-width: 550px;
}
.navbar {

  background: linear-gradient(180deg, rgba(141, 202, 190, 0.6), rgba(0, 0, 0, 0.19)); /* Gradient background for the navbar */
  display: flex;
  min-width: 550px;


}
.logo{
  height: 165px;
  width: 115px;
  border-style:inset;
  border-color: rgba(128, 128, 128, 0.458) rgba(211, 211, 211, 0.516);
  
}




.button {
  margin-right: 5%;
  height: 60px;
  width: 180px;
  background-color: rgba(255, 255, 255, 0.545);
  border-style:outset;
  text-decoration: none;
  color: #ffffff5c;
  font-weight: bold;
  font-size: 16px;
  float: right;
  box-shadow: 0 0 20px rgb(208, 242, 250);

}


